body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

/* list OS*/
.link-list{
	color: currentColor;
} 
.link-list:hover{
	text-decoration: currentColor;
}

.button-link {
    position: relative;
    padding: 1rem;
    margin: 1rem -15px 0;
}

.text-tab{
    font-size: 14px;
}
